.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; 
}

.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; 
}

jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; 
}

.navbar + .jumbotron {
    margin-top: -20px; 
}
.jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; 
}

.jumbotron .lang-logo img {
      max-width: 100%; 
}


.input-group-addon {
    padding: 4px 4px 4px 4px !important;
}

.dev-header {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
    line-height: 1.42857143;
    color: #333;
}

.dev {
    padding: 2px;
}

.dev-btn-switch {
    padding: 2px 4px;
}

