<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<script type="text/javascript">


    var people = <%- JSON.stringify(devs) %>;
</script>
  <script src="/client-gen.js"></script>
<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <% devs.devs.forEach(function(r) { %>
          <div class="col-sm-2">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" class="names" value="<%= r.name %>" id="<%= r.name %>" checked="checked" aria-label="..."/>
              </span>
              <div type="text" class="form-control" aria-label="..."><%= r.name %></div>
            </div><!-- /input-group -->
          </div>
      <% }); %>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="input-group">
          <a id="generate" class="btn btn-primary btn-lg" href="#" role="button">Generate</a>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div >
<ul id="shuffledPairs"></ul>
</div>
</div>


</body>
</html>
